{% extends "web/base.html" %}
{% load static %}
{% block content %}
<div class="page-wrapper">


	<main class="main">
		<div class="page-header text-center"
			style="background-image: url('static/web/assets/images/page-header-bg.jpg')">
			<div class="container">
				<h1 class="page-title">Checkout<span>Shop</span></h1>
			</div><!-- End .container -->
		</div><!-- End .page-header -->
		<nav aria-label="breadcrumb" class="breadcrumb-nav">

			<div class="container">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url "web:index" %}">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Shop</a></li>
					<li class="breadcrumb-item active" aria-current="page">Checkout</li>
				</ol>
			</div><!-- End .container -->
		</nav><!-- End .breadcrumb-nav -->

		<div class="page-content">
			<div class="checkout contact-form-wrap" data-aos="fade-up" data-aos-delay="200">
				<div class="container">
					<div class="checkout-discount">
					</div><!-- End .checkout-discount -->

					<form class="contact-form-style ajax reload" id="contact-form" method="post">
						{% csrf_token %}
						<div class="row">
							<div class="col-lg-9">
								<h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
								<div class="row">
									<div class="col-sm-6">
										<label>First Name *</label>
										{{ form.first_name }}
									</div><!-- End .col-sm-6 -->

									<div class="col-sm-6">
										<label>Last Name *</label>
										{{ form.last_name }}
									</div><!-- End .col-sm-6 -->
								</div><!-- End .row -->

								<label>Street address *</label>
								{{ form.street_address }}

								<div class="row">
									<div class="col-sm-6">
										<label>City </label>
										{{ form.city }}
									</div><!-- End .col-sm-6 -->

									<div class="col-sm-6">
										<label>State</label>
										{{ form.state }}
									</div><!-- End .col-sm-6 -->
								</div><!-- End .row -->

								<div class="row">
									<div class="col-sm-6">
										<label>Pincode</label>
										{{ form.pincode }}
									</div><!-- End .col-sm-6 -->

									<div class="col-sm-6">
										<label>Phone *</label>
										{{ form.mobil }}
									</div><!-- End .col-sm-6 -->
								</div><!-- End .row -->

								<label>Email address *</label>
								{{ form.email }}

								{% comment %} <div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="checkout-create-acc">
									<label class="custom-control-label" for="checkout-create-acc">Create an
										account?</label>
								</div><!-- End .custom-checkbox -->

								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="checkout-diff-address">
									<label class="custom-control-label" for="checkout-diff-address">Ship to a different
										address?</label>
								</div><!-- End .custom-checkbox --> {% endcomment %}

								<label>Order notes (optional)</label>
								<textarea class="form-control" cols="30" rows="4"
									placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
							</div><!-- End .col-lg-9 -->
							<aside class="col-lg-3">
								<div class="summary">
									<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->


									<table class="table table-summary">
										<thead>
											<tr>
												<th>Product</th>
												<th>Total</th>
											</tr>
										</thead>

										<tbody>
											{% for item in items %}
											<tr>
												<td><a href="#">{{item.product.name}}</a></td>
												<td>₹ {{item.product.price}}</td>
											</tr>
											{% endfor %}


											<tr class="summary-subtotal">
												<td>Subtotal:</td>
												<td>$160.00</td>
											</tr><!-- End .summary-subtotal -->
											<tr>
												<td>Shipping:</td>
												<td>Free shipping</td>
											</tr>
											<tr class="summary-total">
												<td>Total:</td>
												<td>$160.00</td>
											</tr><!-- End .summary-total -->
										</tbody>
									</table><!-- End .table table-summary -->


									<div class="accordion-summary" id="accordion-payment">
									

										<div class="card">
											<div class="card-header" id="heading-2">
												<h2 class="card-title">
													<a class="collapsed" role="button" data-toggle="collapse"
														href="#collapse-2" aria-expanded="false"
														aria-controls="collapse-2">
														onlin payments
													</a>
												</h2>
											</div><!-- End .card-header -->
											<div id="collapse-2" class="collapse" aria-labelledby="heading-2"
												data-parent="#accordion-payment">
												<div class="card-body">
													Ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
													Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.
												</div><!-- End .card-body -->
											</div><!-- End .collapse -->
										</div><!-- End .card -->

										<div class="card">
											<div class="card-header" id="heading-3">
												<h2 class="card-title">
													<a class="collapsed" role="button" data-toggle="collapse"
														href="#collapse-3" aria-expanded="false"
														aria-controls="collapse-3">
														Cash on delivery
													</a>
												</h2>
											</div><!-- End .card-header -->
											<div id="collapse-3" class="collapse" aria-labelledby="heading-3"
												data-parent="#accordion-payment">
												<div class="card-body">Quisque volutpat mattis eros. Lorem ipsum dolor
													sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat
													mattis eros.
												</div><!-- End .card-body -->
											</div><!-- End .collapse -->
										</div><!-- End .card -->
									</div><!-- End .accordion -->

									<button type="submit"
										class="btn btn-outline-primary-2 btn-order btn-block primary_btn">
										<span class="btn-text">Place Order</span>
										<span class="btn-hover-text">Proceed to Checkout</span>
									</button>
								</div><!-- End .summary -->
							</aside><!-- End .col-lg-3 -->
						</div><!-- End .row -->
					</form>

				</div><!-- End .container -->
			</div><!-- End .checkout -->
		</div><!-- End .page-content -->
	</main><!-- End .main -->


</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->




<!-- Plugins JS File -->
{% endblock %}