<div class="mobile-menu-container">
    <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="icon-close"></i></span>

        <form action="#" method="get" class="mobile-search">
            <label for="mobile-search" class="sr-only">Search</label>
            <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
        </form>
        
        <nav class="mobile-nav">
            <ul class="mobile-menu">
                <li class="active">
                    <a href="{% url "web:index" %}">Home</a>
                </li>
                <li>
                    <a href="{% url "web:product_list" %}">COLLECTIONS </a>
                    
                </li>
                <li>
                    <a href="{% url "web:about" %}" class="">ABOUT US</a>
                   
                </li>
                <li>
                    <a href="{% url "web:product_list" %}">FURNITURE</a>
                    <ul>
                        {% for category in categories %}
                        <li>
                            <a href="{% url 'web:product_list' %}?category={{ category.slug }}" class="">{{ category.name }}</a>
                        </li>
                        {% endfor %}
                        <li>
                        </ul>
                        

                        </li>
                      
                    
                </li>
                <li>
                    <a href="#">CATALOGUE</a>

                    <ul>
                        <li><a href="#">Classic</a></li>
                        <li><a href="#">Listing</a></li>
                        
                       
                    </ul>
                </li>
                <li>
                    <a href="{% url "web:contact" %}">Contact</a>
                </li>
            </ul>
        </nav><!-- End .mobile-nav -->

        <div class="social-icons">
            <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
            <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
            <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
            <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
        </div><!-- End .social-icons -->
    </div><!-- End .mobile-menu-wrapper -->
</div><!-- End .mobile-menu-container -->